<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX, UTC} | %-5level | %20.20thread{20} | %50.50(%logger.%M:%L) | %msg%n%xException
            </pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <!--<appender-ref ref="FILE" />-->
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="MetricsRollingFile" />-->
    </root>
</configuration>